body{
    background-color: pink;
}

.h1{
    text-align: center;
    color: beige;
}
nav{
    color:salmon;
    font: size 20px;;
    background-color: white;
}

p{
    color: paleturquoise;
    font: size 14px;;
    text-align: justify;
}
footer{
    background-color: burlywood;
    color: plum;
    text-align: center;
}